<style>
* {
  font-family: 'Space Mono', monospace;
}
i {
  font-size: 3em;
}
</style>

<div class="container mt-3">

  <div class="row justify-content-center">
    Welcome to the Sea of Tranquility Farmers Association
  </div>

  <div class="row justify-content-center">
    <i class="icon ion-md-moon"></i>
  </div>
  
  <div class="row">
    <label for="veggies">Choose lunar veggies:</label>
    <input id="veggies" type="text" class="form-control" [(ngModel)]="veggies" [ngbTypeahead]="search" [resultFormatter]="formatter"/>
  </div>

  <div class="row">
    <label for="address">Enter lunar address:</label>
    <input id="address" type="text" class="form-control" [(ngModel)]="address" />
  </div>

  <!-- <div class="row">
      Results:
      <div *ngFor="let veggie of veggies">
        {{ veggies.serviceName }}
      </div>
    </div> -->
</div>

<router-outlet></router-outlet>